body {
  font: 14px "Century Gothic", Futura, sans-serif;
  padding: 20px;
  max-width: 80%;
}

/* ol, ul {
  padding-left: auto;
} */

/* This should be the full package */
.game {
  width: 60%;
  height: 60%; 
}

/* This is the floating text/buttons re: right column */
.game-info {
  padding: 20px;
  justify-self: right;
}

/* This SHOULD be the game board, re: left column */
.board {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-auto-rows: minmax(3fr, auto);
  margin-top: auto;
  margin-left: 10px;
  align-self: left;
  object-fit: cover;
  grid-auto-flow: dense;
}

/*.status {
  margin-bottom: 10px;
  margin-left: 10px;
} */

.square {
  background: #fff;
  border: 1px solid black;
  float: left;
  font-size: 8rem;
  font-weight: bold;
  height: 10rem;
  padding: 10px;
  text-align: center;
  width: 10rem;
}

.winning-line{
  color:tomato
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}
